{include file='/app/sharememo/app/views/common/header.tpl.html'}
  <body class="bs-docs-home">
    <!-- header nav -->
{include file='/app/sharememo/app/views/common/navbar.tpl.html'}

<!--main-wrapper end-->
<div id="content">
{if isset($errors)}
<div class="alert">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>Error!</strong> You must write something at least more than 1 word in title and memo area.
</div>
{/if}
<div class="cm_container_left">
<form method="post" action="{url('/memo')}/{$id}/update" enctype="multipart/form-data">
{Form::token()}
<input id="_asdfid" name="_asdfid" type="hidden" value="{$asdfid}">
<section>
    <h3>New</h3>
    <span class="cm-md-help"><a href="http://packetlife.net/media/library/16/Markdown.pdf" target="_blank">HELP</a></span>
    <legend></legend>
    <input type="text" id="top_aisatsu_title" name="top_aisatsu_title" value="{$title}" placeholder="title" onkeydown="onKeyDownInput(this,event)" onkeyup="showPreview('top_aisatsu_title','prev_main_title')"/><br />
    <legend><span></span></legend>
    <textarea id="top_aisatsu_text" name="top_aisatsu_text" placeholder="テキストを入力してください" onkeydown="onKeyDown(this,event);" onkeyup="showPreview('top_aisatsu_text','prev_top_aisatsu_text')">{$memo}</textarea>
</section>
<section>
    <div class="cm-md-checkstatus">
      <div class="cm-md-checkstatus-box">
        <span>private</span>
        <input type="radio" class="cm-md-checkstatus-input" name="sharestatus" value="1" {if $status == 1}checked="checked"{/if}>
      </div>
      <div class="cm-md-checkstatus-box">
        <span>public</span>
        <input type="radio" class="cm-md-checkstatus-input" name="sharestatus" value="0" {if $status == 0}checked="checked"{/if}>
      </div>
    </div>
    <div class="cm-md-form-bottom">
      <input id="cm_submit" class="cm_submit" type="submit" value="save"/>
      <div class="alert-autosaved-status"></div>
    </div>
</section>
</form>
</div><!--cm_container_left end-->

<!--cm_container_right-->
<div class="cm_container_right">
    <h3>Preview</h3>
    <section id="sm-preview-right">
    <hgroup id="prev_main_title"></hgroup>
    <ul>
        <li id="prev_top_aisatsu_text"></li>
    </ul>
    </section>
</div>
<!--footer-->
</div><!--content end-->
<script type="text/javascript">
var _saveurl = "{url('memo/autosave')}";
</script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/jquery.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/bootstrap.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/marked.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/mdpreview.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/autosave.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/asyncautosave.js"></script>
<script src="https://s3-ap-northeast-1.amazonaws.com/sharememo/js/alertbrowserback.js"></script>
{include file='/app/sharememo/app/views/common/footer.tpl.html'}
</body>
</html>
